@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply font-bold;
    @apply text-white;
  }

  h2 {
    @apply text-4xl;
    @apply font-bold;
    @apply text-gray-700;
  }

  h3 {
    @apply text-2xl;
    @apply font-semibold;
    @apply text-gray-700;
  }

  h4 {
    @apply text-lg;
    @apply font-semibold;
    @apply text-gray-700;
  }

  body {
    @apply text-sm;
    @apply font-normal;
    @apply text-gray-700;
  }

  .postDetail {
    @apply text-sm;
    @apply font-semibold;
  }

  .secondary {
    @apply text-xs;
    @apply text-gray-500;
  }

  .error {
    @apply text-xs;
    @apply text-red-700;
  }
}

@layer components {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  /* Comment Writer Styles */
  textarea,
  pre {
    border: none;
    width: 100%;
    line-height: 1.5em;
    margin: 0;
    border-radius: 8px;
    outline: none;
    background: transparent;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  textarea {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    resize: none;
    background: white;
  }

  .hoverIcon:hover {
    color: #0e76fd;
  }

  .breakText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :focus {
    outline: none;
  }

  /* Spinner */
  .loader {
    animation: spinner 0.6s linear infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Loading Ellipsis */
  .dot1 {
    animation: visibility 1s linear infinite;
  }

  .dot2 {
    animation: visibility2 1s linear infinite;
  }

  .dot3 {
    animation: visibility3 1s linear infinite;
  }

  @keyframes visibility {
    0% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes visibility2 {
    0% {
      opacity: 0;
    }
    21% {
      opacity: 0;
    }
    22% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes visibility3 {
    0% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    44% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
